@tailwind base;
@tailwind components;
@tailwind utilities;



*{
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: transparent;
  z-index: 99;
  width: 100%;
  position: fixed;
  transition: 0.5s ease all;
  color: #fff;
}
nav {
  display: flex;
  flex-direction: row;
  padding: 0;
  transition: 0.5s ease all;
  width: 100%;
  margin: 0;
}

.icon-active {
  transform: rotate(180deg);
}

.scrolled-nav {
  background-color: #fff;
  color: #152C5B;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.scrolled-nav nav {
  padding: 8px 0;
}

section {
  margin-bottom: 70px;
}

@layer components {
  .btn {    
    @apply hover:transition
    hover:duration-75
    hover:scale-110
    hover:ease-in-out
    capitalize
    mt-3
    md:mt-7
    bg-accent
    px-6
    w-52
    md:px-8
    py-3
    text-white
    rounded-md
  }

  .card {
    @apply 
    border
    w-full
    h-full
    rounded-2xl
  }

  .card__feature {
    @apply 
    overflow-hidden
    cursor-pointer
    shadow-lg
    z-[2]
    hover:-translate-y-3    
    after:absolute
    after:contents
    after:top-0
    after:left-0
    after:right-0
    after:bottom-0
    after:scale-110
    after:duration-100
    after:ease-in-out
  }

  .tag {
    @apply 
    flex flex-row
    z-[3]
    text-sm
    bg-pink-700
    py-1
    px-5
    absolute
    top-0
    right-0
    text-white
    min-h-[30px]
    font-normal
    rounded-tr-xl rounded-bl-xl
  }


  .meta-wrapper {
    @apply 
    z-[4]
    text-white
    p-5
    absolute
    top-0
    bottom-0
    w-full
    transform
    -translate-y-0
    duration-150
    ease-in-out
    flex flex-col
    justify-end
  }
  .btn__minus {
    @apply
    border-2
    bg-warning
    rounded-md
    w-[45px]
    h-[45px]
    absolute
    left-0
  }
  .btn__plus {
    @apply
    border-2
    bg-success
    rounded-md
    w-[45px]
    h-[45px]
    absolute
    right-0
    bottom-0
  }
  .input__number {
    @apply
    border-2 
    w-full
    h-[45px] 
    text-center
  }
}